
<!doctype html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Админка</title>


    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <script>
    
var mamaData = [
{
      title: 'Кафе/Рестораны',
      icon: 'users',
      table: 'points',
      cols: [
		 
		  
          { name: 'logo', title: 'Лого', type: 'image' },
          { name: 'name', title: 'Название', type: 'text' },
          { name: 'address', title: 'Адрес', type: 'text' },
          { name: 'geo', title: 'Гео', type: 'text' },
		    { name: 'min_price', title: 'Минимальный заказ', type: 'number' },
	  {name: 'kitchen', title: 'Кухни', type: 'table', table: { name: 'menu', key: 'id', value: 'title' }},
		    { name: 'delivery_price', title: 'Цена доставки', type: 'number' },
    { name: 'delivery_time', title: 'Время доставки (мин.)', type: 'number' },
	 {
              name: 'pay_type', title: 'Тип оплаты', type: 'multiselect', values: [
                  { id: 0, value: 'Наличными' },
                  { id: 1, value: 'Картой курьеру' }
              ]

          },
   { name: 'visible', title: 'Доступно', type: 'bool' },
	   {
              name: 'work_days', title: 'Дни работы', type: 'select', values: [
                  { id: 0, value: 'Завтра' },
                  { id: 1, value: 'Перекус' },
                  { id: 2, value: 'Обед' },
                  { id: 3, value: 'Полдник' },
                  { id: 4, value: 'Ужин' }
              ]

          },
	   { name: 'time_form', title: 'Время с', type: 'text' },
	   { name: 'time_to', title: 'Время до', type: 'text' },
	 { name: 'info', title: 'Описание', type: 'textarea' },
	     { name: 'procent', title: 'Комиссия %', type: 'number' }


		  
	  ]
  }
];


window.SERVER_NAME = "http://dietolog.apptor.ru";

    </script>
	  
   

</head>
  <body>
    <nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
      <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">[(site_name)]</a>
     
      <ul class="navbar-nav px-3">
        <li class="nav-item text-nowrap">
	      <a class="nav-link" href="#">Выход</a>
        </li>
      </ul>
    </nav>
	
	 				  
      <div id="root">

        <%= htmlWebpackPlugin.options.getAppContent() %>
      </div>

  

	  

   	<script src="https://unpkg.com/feather-icons/dist/feather.min.js"></script>
     <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
     <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
     <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
     
	

	  
	 

	
   
  </body>
</html>


